body {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

h1 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

button {
  background-color: #fa9c1b;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
}
a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  color: #2980b9;
}

.deleteButton {
  position: fixed;
  right: 35px;
  bottom: 35px;
  background-color: #b22222;
}

.deleteForm {
  width: 0;
  padding: 0;
}
